body {
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  background: url(/img/background-blur.jpg) top left #2D201B;
  background-repeat: no-repeat;
  background-size: 100%;
}

.users {
    float: right;
    margin-right: 1.5em;
}

.messages {
  min-height: 600px;
  background: rgba(0,0,0,0.7);
  color: #FFF;
  font-weight: lighter;
  margin: 1em;
  font-size: 17px;
  line-height: 26px;
  padding: 1em;
}

.message_form,
.change_name_form {
    padding: 1em;
}

form input {
    border: 2px solid #3D3A35;
    background: #F1EEE9;
    color: #333;
    padding: 10px;
    width: 100%;
}

form input:focus {
    outline: none;
}

.img-inside{
  float: left;
  margin: 0 20px 20px 0;
  max-width: 350px;
}
.message {
    border-bottom: 1px dashed #EEE;
    padding: 20px 0;
}

.username{
  font-size: 24px;
}

.navbar-fixed-bottom {
  background: #F1EEE9;
}
::-webkit-input-placeholder { /* WebKit browsers */
    color:    #3D3A35;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #3D3A35;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #3D3A35;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
   color:    #3D3A35;
}
